upstream api {
  server ${API_HOST}:${API_PORT};
}

server {
  listen 80;
  listen [::]:80;

  # Allow file uploads up to 20 MB
  # Larger files will be rejected.
  client_max_body_size 20M;

  # Allow gzip compression
  gzip on;

  # Do not show nginx version
  server_tokens off;

  location /api {
    rewrite /api/(.*) /$1 break;
    proxy_pass http://api;
  }

  location / {
    root /usr/share/nginx/html;
    index index.html;
    try_files $uri $uri/ /index.html;
  }
}